body {
    display: flex;
    margin: 0px auto;
    padding: 0px;
    height: 100vh;
    flex-direction: column;
    width: 300px;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .notice {
            text-align: center;
            margin-top: 30px;
        }
    }

    .settings {
        flex: 0.4;
    }
}